@font-face {
  font-family: 'Speedy Font';
  src:
    url('../fonts/SpeedyRegular-7BLoE.ttf');
}

:root,
:root *,
:root::before,
:root::after {
  font-family: 'Speedy Font', sans-serif;
}

#calculator {
  position: absolute;
  top: 40vh;
  left: 20vw;
}

#calculator #buttons {
  margin-top: .5rem;
  user-select: none;
  -webkit-user-select: none;
}

.number,
.special,
.operator {
  border: 1px solid black;
}

.number {
  background-color: white;
}

.operator {
  background-color: black;
  color: white;
}

.special {
  background-color: #D43775;
  color: white;
}

#results-wrap {
  display: flex;
  justify-content: space-between;
}
